<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121653999947-rj9suvf663vnc2o53c66rkds32nc7s8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121653999947-rj9suvf663vnc2o53c66rkds32nc7s8c</string>
	<key>API_KEY</key>
	<string>AIzaSyArova4EZBXzOIAI8B_iZsoHUeyuVq2J_U</string>
	<key>GCM_SENDER_ID</key>
	<string>121653999947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tecsup.instagram-Tecsup</string>
	<key>PROJECT_ID</key>
	<string>insta-tecsup-mm-2022-2</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-tecsup-mm-2022-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121653999947:ios:2574be947147f89456d0ce</string>
</dict>
</plist>